html *
{
   font-size: large;
   font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

body
{
 background-color: #F7F8E0;
}

a:link
{
text-decoration:none;
color:#000;
}

#dragdrop {
        width:40%;
        cursor: pointer;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0px 0px 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.0625rem 2rem 1rem;
  font-size: 1rem;
  background-color: rgb(0, 140, 186);
  color: white;
  transition: background-color 300ms ease-out 0s;
  border: medium none;
  font-weight: normal !important;
      }

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

button, .button {
  cursor: pointer;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0px 0px 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1.0625rem 2rem 1rem;
  font-size: 1rem;
  background-color: rgb(0, 140, 186);
  color: white;
  transition: background-color 300ms ease-out 0s;
  border: medium none;
  font-weight: normal !important;
}
  
table.table_out {
  border: 15px;
  background-color: rgba(0, 140, 10);
  margin-left:auto;
  margin-right:auto;
  min-width: 1200px;
  max-width: 1200px;
  
  border-spacing: 8px;
  border-collapse: separate;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}

table.table_out td { vertical-align: top; text-align: left;}
table.table_out th { vertical-align: top; font-size: 150%;}

td.output_content {
   padding: 15px;
   border-style: none;
   background-color: white;
   max-width: 2000px;
   overflow-x: auto;
}

td.input_content {
   padding: 25px;
   border-style: none;
   background-color: white;
   max-width: 2000px;
   overflow-x: auto;
}

h1 {
  font-size: 200%;
  margin-left:auto;
  margin-right:auto;
}

p{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

/*td.td_output {max-height: 800px; display: block; overflow-y: scroll; overflow-x: hidden; } */

.hidden { display: none; }
.unhidden { display: block; }

.o1_output {color: black; font-weight: bold; }

.repeated { background-color: #F5A9A9; transition:.3s;}
.repeated:hover { background-color: #FA5858; transition:.3s;}

.header { background-color: #CEE3F6; transition:.3s;}
.header:hover { background-color: #81BEF7; transition:.3s;}

.comments { background-color: #F5F6CE; transition:.3s; }
.comments:hover { background-color: #F3F781; transition:.3s; }

.blanks { background-color: #F2F2F2; transition:.3s; }
.blanks:hover { background-color: #D8D8D8; transition:.3s; }

.nameEqualValue { background-color: #D8F6CE; transition:.3s; }
.nameEqualValue:hover { background-color: #9FF781; transition:.3s; }

.error { background-color: #F5A9A9; transition:.3s; }
.error:hover { background-color: #FA5858; transition:.3s; }
 	 No newline at end of file
